/* =========================================================
   RESET BASE + BODY
   ========================================================= */

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: #0f0f0f;
  color: #00ff88be;

  font-family: "Courier New", Courier, monospace;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================================================
   TERMINALE
   ========================================================= */

.terminal {
  width: 70%;
  max-width: 70%;
  height: 80%;

  padding: 20px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  user-select: none;
}

/* =========================================================
   HEADER
   ========================================================= */

.header {
  margin-bottom: 30px;
  white-space: pre;

  color: #afc2bb;
  font-weight: bold;
}

/* =========================================================
   LINEE OUTPUT
   ========================================================= */

.line {
  line-height: 1.5em;
  min-height: 1.5em;
  white-space: pre;
}

/* =========================================================
   PROMPT
   ========================================================= */

.prompt {
  display: flex;
  align-items: center;
  min-height: 1.5em;
}

.hidden {
  display: none;
}

/* =========================================================
   INPUT WRAPPER
   ========================================================= */

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

/* =========================================================
   PATH
   ========================================================= */

.prompt-path {
  color: #3cff01;
  font-weight: bold;
  white-space: pre;
}

/* =========================================================
   INPUT TESTUALE
   ========================================================= */

.input-wrapper input {
  flex: 1;

  background: transparent;
  border: none;
  outline: none;

  color: #00ff88be;
  font-family: inherit;
  font-size: 1em;

  margin-left: -2px;

  caret-color: transparent;
}

/* =========================================================
   CARET FALSO
   ========================================================= */

.fake-caret {
  position: absolute;

  left: 2px;
  top: 1px;

  width: 0.5em;
  height: 1em;

  background: #00ff8894;

  animation: blink 1s steps(1) infinite;
  pointer-events: none;
}

/* =========================================================
   FOOTER (se riattivi)
   ========================================================= */

.footer {
  margin-top: 20px;
  font-size: 0.85em;
  color: #00aa66;
}

/* =========================================================
   ANIMAZIONE BLINK
   ========================================================= */

@keyframes blink {
  50% {
    opacity: 0;
  }
}
